body {
    margin: 0px;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: white
}

*,
*:befor,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.page {
    width: 100%;
    height: 100vh;

    background: #fff url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;

    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}

/*Header
====================*/

.header {
    padding: 1rem ;

    background-color: #2B7DED;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.header-nav {
    display: flex;
}

.header-nav a {
    margin-right: 1rem;

    font-weight: 500;
    color: white;
    text-decoration: none;

    transition: color .2s linear;
}

.header-nav a:hover {
    color: #f4b56a;
}

.header-nav a.active {
    position: relative;
}

.header-nav a.active:after {
    content: '';

    width: 100%;
    height: 3px;

    background-color: white;

    position:absolute;
    bottom: -4px;
    left: 0;
}
/*end.header
====================*/


/*Content
====================*/
.content {
    width: 672px;
    margin-top: 105px;
}

.first-title {
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    opacity: 60%;
}

.second-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}

.text-webdev {
    color: #2B7DED;
}

.text {
    margin-top: 40px;
    margin-bottom: 50px;
}

.btn {
    display: inline;
    background-color: #2B7DED;

    color: white;
    text-decoration: none;

    border-radius: 4px;

    padding: 10px 36px;

    transition: color .2s linear;
}

.btn:hover {
    background-color: #2468c6;
}

.btn:active {
    background-color: #1e539b;
}

/*end/.content
====================*/


/*My Image Avatar
====================*/
.avatar {
    position: absolute;
    bottom: 0;
    right: 20px;
}
/*====end/my image avatar====
=============================*/


/*====Footer========
====================*/

.footer {
    position: absolute;
    bottom: 40px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-inner a {
    color: white;
    font-weight: 500;

    text-decoration: none;
}

.footer-inner a:hover {
    text-decoration: underline;
}

.contact-link {
    margin-right: 3rem;
}

.contact-link img {
    margin-right: 5px;
}

.footer-inner:after {
    content: '';
    width: 80px;
    height: 2px;

    background-color: white;
}

/*====end/footer====
====================*/













